In [2]:
"""Generate a random pandas dataframe with two numerical columns and one categorical column"""
import random
import pandas as pd
import numpy as np

def generate_data(n):
    """Generate a random pandas dataframe with two numerical columns and one categorical column"""
    data = []
    for i in range(n):
        """Add data to a list"""
        data.append([random.random(), random.random(), random.choice(["A", "B", "C"])])
    """Convert list to numpy array"""
    data = np.array(data)
    """Convert list of lists to pandas dataframe"""
    data = pd.DataFrame(data, columns=['x1', 'x2', 'y'])
    return data

my_data = generate_data(10)
my_data

                     x1                   x2  y
0    0.1843830971513316  0.29111345648627507  C
1    0.8133053900256688    0.950930081990842  C
2    0.9820249421564605   0.8317504366905986  C
3    0.5612874706214793   0.2659457043696163  A
4  0.026930556447660292   0.7303140989750778  C
5   0.18405420002763628   0.9153701791330978  C
6    0.8222247994167522   0.3680268275375066  B
7    0.5736980351585185  0.49300116598298926  B
8   0.31698752933847607  0.36285923539004783  B
9   0.47597447884808275   0.0420422216769577  B

In [5]:
"""Convert columns to categorical"""
my_data['y'] = my_data['y'].astype('category')

"""Convert columsn to numeric"""
my_data['x1'] = my_data['x1'].astype('float')
my_data['x2'] = my_data['x2'].astype('float')

my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      10 non-null     float64
 1   x2      10 non-null     float64
 2   y       10 non-null     category
dtypes: category(1), float64(2)
memory usage: 430.0 bytes